{% extends "layout.html" %}

{% block title %}
    Stats
{% endblock %}

{% block main %}
    <div class="section">
        <table>
            <thead>
                <tr>
                    <th>URL</th>
                    <th>25</th>
                    <th>50</th>
                    <th>75</th>
                    <th>Average</th>
                </tr>
            </thead>
            <tbody>
                <!-- url contains filter -->
                {% for url in urls %}
                <tr>
                    <td><a href="{{ url.full}}" target="_blank">{{ url }}</a></td>
                    <td>{{ url.p75_lcp }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}