{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
            <div class="container first-container">
                <div class="row">
                    <div class="col-sm">
                        <h1 class="text-center">About</h1>
                        <div class="lead text-muted">
                            <p>Core Web Vitals is an initiative by Google to provide unified guidance for quality signals that are essential to delivering a great user experience on the web.</p>
                            <p>The Core Web Vitals checker fetches website pages and provides an overview of FCP, LCP, FID, and CLS performance at page level. Please note that less popular URLs may not have sufficient data, resulting in the performance overview showing "No data".</p>
                        <div>
                        <p class="main-buttons text-center">
                            <a href="/" class="btn btn-primary my-2">Crawl Website</a>
                            <a href="https://web.dev/vitals/" class="btn btn-secondary" my-2 target="_blank">Visit Offical Site</a>
                        </p>
                    </div>
                </div>
                <div class="container second-container">
                    <div class="row">
                        <div class="col-sm d-flex">
                            <div class="card mb-6 box-shadow">
                                <div class="card-body">
                                    <a href="https://web.dev/first-contentful-paint/" target="_blank">
                                        <h2 class="card-title text-center">First Content Paint (FCP)</h2>
                                    </a>
                                    <p class="card-text">Although not a core web vital, FCP directly affects the core web vitals like LCP. It marks the first point in the page load timeline where the user can see anything on the screen.</p>
                                </div>
                                <div class="card-footer text-center">
                                    <img class="card-img" src="/static/images/fcp.png" alt="First Content Paint scoring">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm d-flex">
                            <div class="card mb-6 box-shadow">
                                <div class="card-body">
                                    <a href="https://web.dev/lcp/" target="_blank">
                                        <h2 class="card-title text-center">Largest Content Paint (LCP)</h2>
                                    </a>
                                    <p class="card-text">LCP reports the render time of the largest content element (e.g., largest image or text block) that is visibible within the viewport.</p>
                                </div>
                                <div class="card-footer text-center">
                                    <img class="card-img" src="/static/images/lcp.png" alt="Largest Content Paint scoring">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm d-flex">
                            <div class="card mb-6 box-shadow">
                                <div class="card-body">
                                    <a href="https://web.dev/fid/" target="_blank">
                                        <h2 class="card-title text-center">First Input Delay (FID)</h2>
                                    </a>
                                    <p class="card-text">FID measure the time from when a user first intereacts with a page (e.g., click on a link), to the time when the browser is actually able to respond to that interaction.</p>
                                </div>
                                <div class="card-footer text-center">
                                    <img class="card-img" src="/static/images/fid.png" alt="First Input Delay scoring">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm d-flex">
                            <div class="card mb-6 box-shadow">
                                <div class="card-body">
                                    <a href="https://web.dev/cls/" target="_blank">
                                        <h2 class="card-title text-center">Cumulative Layout Shift (CLS)</h2>
                                    </a>
                                    <p class="card-text">CLS measures the sum total of all individual layout shift scores for evey unexpected layout shift that occurs during the entire lifespan of the page.</p>
                                </div>
                                <div class="card-footer text-center">
                                    <img class="card-img" src="/static/images/cls.png" alt="Cumulative Layout Shift scoring">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}