{% extends "layout.html" %}

{% block title %}
    Stats
{% endblock %}

{% block main %}
<div class="section table-responsive">
    <table class="table" id="statsTable">
        <thead>
            <tr>
                <th scope="col" class="col-4">URL</th>
                <th scope="col" class="col-2">FCP</th>
                <th scope="col" class="col-2">LCP</th>
                <th scope="col" class="col-2">FID</th>
                <th scope="col" class="col-2">CLS</th>
            </tr>
        </thead>
        <tbody>
            <!-- url contains filter -->
            {% for url in urls %}
            <tr>
                <th scope="row"><a href="{{ url.full }}" target="_blank">{{ url }}</a></th>
                <td>
                    <div class="clean-stats" color-code="{{ url.p75_fcp[0] }}">{{ url.p75_fcp[0] }}</div>
                    <div class="raw-stats" color-code="{{ url.p75_fcp[0] }}">{{ url.p75_fcp[1] }}</div>
                </td>
                <td>
                    <div class="clean-stats" color-code="{{ url.p75_lcp[0] }}">{{ url.p75_lcp[0] }}</div>
                    <div class="raw-stats" color-code="{{ url.p75_lcp[0] }}">{{ url.p75_lcp[1] }}</div>
                </td>
                <td>
                    <div class="clean-stats" color-code="{{ url.p75_fid[0] }}">{{ url.p75_fid[0] }}</div>
                    <div class="raw-stats" color-code="{{ url.p75_fid[0] }}">{{ url.p75_fid[1] }}</div>
                </td>
                <td>
                    <div class="clean-stats" color-code="{{ url.p75_cls[0] }}">{{ url.p75_cls[0] }}</div>
                    <div class="raw-stats" color-code="{{ url.p75_cls[0] }}">{{ url.p75_cls[1] }}</div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}