body {
    font-family: 'Abel';
}

/* Index filter */
.filter-inputs {
    display: none;
}

/* Form */
form {
    padding: 1rem;
}

.form-group {
    padding-top: 2rem;
}

@media (min-width: 1000px) {
    form {
        width: 44rem;
    }
}

@media (max-width: 575px) {
    .filter-field {
        padding-top: 1rem;
    }
}

/* Headings */
.main-heading {
    margin-top: 3rem;
}

/* Navigation */
nav .navbar-brand
{
    font-size: large;
}

nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

/* Index progress bar */
.progress-bar {
    width: 0%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: #007bff;
    transition: width .6s ease;
}

.progress {
    margin: 3rem;
    display: flex;
    height: 1.5rem;
    overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

@media (max-width: 499px) {
    .progress {
        width: 15rem;
    }
}

@media (min-width: 500px) {
    .progress {
        width: 20rem;
    }
}

@media (min-width: 700px) {
    .progress {
        width: 30rem;
    }
}

.progress-bar-striped {
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
}

/* Stats table */
.raw-stats {
    display: none;
}

td div[color-code="-"]{ 
    color: grey;
}

td div[color-code="Average"]{ 
    color: orange;
}

td div[color-code="Good"]{ 
    color: green;
}

td div[color-code="Poor"]{ 
    color: red;
}

td:hover .raw-stats {
    display: inline;
}

td:hover .clean-stats {
    display: none;
}

.section {
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}

#statsTable_filter {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

#statsTable_info {
    padding-bottom: 0.5rem;
}

.table-responsive {
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-right: 0.3rem;
}

thead
{
    border-bottom: 1px solid #000000;
}

table th {
    padding: 0.75rem;
    vertical-align: middle;
    width: 15rem;
}

table td {
    padding: 0.75rem;
    vertical-align: middle;
    width: 10rem;
    white-space:nowrap;
}

tbody tr:nth-of-type(odd) {
    background-color: rgba(200, 220, 252, 0.3)
}